body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    box-sizing: border-box;
}

img{
    position: absolute;
    border: 5px solid black;
    border-radius: 2%;
}

.banner{
    position: relative;
    background-color: #fff;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    text-align: center;
}

.pin{
    position: absolute;
    top: -150px;
    left: 45%;
    color: #fff;
    
}

.lines{

}

.closed{
    
}